<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.march.studyjsp.domain.member.MemberMapper">

<!--회원가입-->
    <insert id="saveUser" parameterType="com.march.studyjsp.domain.member.MemberDTO">
        INSERT INTO member_info (
            user_id,
            password,
            name,
            nickname,
            email,
            phone_number,
            mobile_number,
            system_registrar_id,
            system_updater_id
        )
        VALUES (
                   #{userId},
                   #{password},
                   #{name},
                   #{nickname},
                   #{email},
                   #{phoneNumber},
                   #{mobileNumber},
                   '표현경',
                   '표현경'
               )
    </insert>


    <!--아이디 검사-->
    <select id="checkUserId" parameterType="com.march.studyjsp.domain.member.MemberDTO" resultType="int">
        SELECT
            count(*) AS countId
        FROM
            member_info
        WHERE
            USER_id = #{userId}
    </select>

    <!--이메일 검사-->
    <select id="checkUserEmail" parameterType="com.march.studyjsp.domain.member.MemberDTO" resultType="int">
        SELECT
            count(*) AS countEmail
        FROM
            member_info
        WHERE
            email = #{email}
    </select>

<!-- 로그인 -->
    <select id="doLogin" parameterType="com.march.studyjsp.domain.member.MemberDTO" resultType="com.march.studyjsp.domain.member.MemberDTO">
        SELECT
              member_no
            , user_id
            , name
            , nickname
        FROM member_info
        WHERE user_id = #{userId}
          AND password = #{password}
    </select>

    <select id="checkLoginId" parameterType="com.march.studyjsp.domain.member.MemberDTO" resultType="int">
        SELECT count(*)
        FROM member_info
        WHERE user_id = #{userId}
    </select>

    <select id="checkLoginPw" parameterType="com.march.studyjsp.domain.member.MemberDTO" resultType="int">
        SELECT count(*)
        FROM member_info
        WHERE user_id = #{userId}
          AND password = #{password}
    </select>

<!--  회원목록  -->
    <select id="findAll" resultType="com.march.studyjsp.domain.member.MemberDTO">
        SELECT member_no,
               user_id,
               name,
               nickname
        FROM member_info
    </select>

    <!--회워 상세페이지-->
    <select id="memberDetail" resultType="com.march.studyjsp.domain.member.MemberDTO" parameterType="Long">
        SELECT member_no,
               user_id,
               password,
               name,
               nickname,
               email,
               phone_number,
               mobile_number
        FROM member_info
        WHERE member_no = #{memberNo}
    </select>

<!-- 회원 프로필 -->
    <select id="findPro" parameterType="int" resultType="com.march.studyjsp.domain.member.MemberDTO" >
        SELECT member_no,
               user_id,
               password,
               name,
               nickname,
               email,
               phone_number,
               mobile_number
        FROM member_info
        WHERE member_no = #{memberNo}
    </select>

<!--회원프로필 수정-->
    <update id="memberUpdate" parameterType="com.march.studyjsp.domain.member.MemberDTO">
        UPDATE member_info
        SET nickname = #{nickname},
            email = #{email},
            phone_number = #{phoneNumber},
            mobile_number = #{mobileNumber}
        WHERE member_no = #{memberNo}
    </update>

    <!--현재비밀번호 확인-->
    <select id="nowPassCheck" parameterType="com.march.studyjsp.domain.member.MemberDTO" resultType="int">
        SELECT
            password
        FROM member_info
        WHERE member_no = #{memberNo}
    </select>

    <!--비밀번호 수정-->
    <update id="changePassword" parameterType="com.march.studyjsp.domain.member.MemberDTO">
        UPDATE member_info
        SET password = #{password}
        WHERE member_no = #{memberNo}
    </update>
</mapper>