<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.march.studyjsp.domain.user.UserMapper">

    <insert id="saveUser" parameterType="com.march.studyjsp.domain.user.UserMapper">
<!-- table name change !!!!!!!!!!!!!!!!!!-->
            INSERT
            INTO tb_user (
            name ,
            email ,
            using_id ,
            using_fw )
            VALUES (#{name},
            #{email},
            #{using_id},
            #{using_fw})
    </insert>

</mapper>