<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.march.studyjsp.domain.user.UserMapper">

    <insert id="saveUser" parameterType="com.march.studyjsp.domain.user.UserDTO">
        <!-- table name change !!!!!!!!!!!!!!!!!!-->
        INSERT
        INTO USER_INFO ( USER_NAME ,
        user_email ,
        USER_ID ,
        USER_PW )
        VALUES (#{userName},
        #{userEmail},
        #{userId},
        #{userPw})
    </insert>

    <select id="doLogin" parameterType="com.march.studyjsp.domain.user.UserDTO" resultType="com.march.studyjsp.domain.user.UserDTO">
        SELECT * FROM user_info WHERE USER_ID = #{userId} AND USER_PW = #{userPw}
    </select>
</mapper>