<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.march.studyjsp.home.HomeMapper">

    <select id="homeList" resultType="com.march.studyjsp.home.HomeDTO">
        SELECT
               row_number() over(order by id desc) as num
	         , id
             , title
             , content
             , system_registrar_id
             , system_updater_id
             , DATE_FORMAT(system_registrar_datetime, '%Y-%m-%d') AS system_registrar_datetime
             , DATE_FORMAT(system_update_datetime, '%Y-%m-%d') AS system_update_datetime
        FROM
            board_info
    </select>

    <select id="homeList1" resultType="com.march.studyjsp.home.HomeDTO1">
        SELECT
            row_number() over(order by id desc) as num
	         , id
             , title
             , content
             , system_registrar_id
             , system_updater_id
             , DATE_FORMAT(system_registrar_datetime, '%Y-%m-%d') AS system_registrar_datetime
             , DATE_FORMAT(system_update_datetime, '%Y-%m-%d') AS system_update_datetime
        FROM
            board_info
    </select>

    <select id="homeList2" resultType="Map">
        SELECT
            row_number() over(order by id desc) as num
	         , id
             , title
             , content
             , system_registrar_id
             , system_updater_id
             , DATE_FORMAT(system_registrar_datetime, '%Y-%m-%d') AS system_registrar_datetime
             , DATE_FORMAT(system_update_datetime, '%Y-%m-%d') AS system_update_datetime
        FROM
            board_info
    </select>

    <select id="homeList3" resultType="com.march.studyjsp.home.HomeDTO">
        SELECT
            row_number() over(order by id desc) as num
	         , id
             , title
             , content
             , system_registrar_id
             , system_updater_id
             , DATE_FORMAT(system_registrar_datetime, '%Y-%m-%d') AS system_registrar_datetime
             , DATE_FORMAT(system_update_datetime, '%Y-%m-%d') AS system_update_datetime
        FROM
            board_info
    </select>

    <select id="homeList4" resultType="Map">
        SELECT
            row_number() over(order by id desc) as num
	         , id
             , title
             , content
             , system_registrar_id
             , system_updater_id
             , DATE_FORMAT(system_registrar_datetime, '%Y-%m-%d') AS system_registrar_datetime
             , DATE_FORMAT(system_update_datetime, '%Y-%m-%d') AS system_update_datetime
        FROM
            new_board
    </select>

    <insert id="createBoard" parameterType="com.march.studyjsp.home.HomeDTO">
        /*HomeMapper.createBoard*/
        INSERT
        INTO new_board(title,
                       content,
                       system_registrar_id,
                       system_updater_id)
        VALUES (#{title},
                #{content},
                #{systemRegistrarId},
                #{systemUpdaterId})
    </insert>

    <update id="updateBoard" parameterType="com.march.studyjsp.home.HomeDTO">
        /*HomeMapper.updateBoard*/
        UPDATE new_board
        SET title               = #{title}
          , system_registrar_id = #{systemRegistrarId}
        WHERE id = #{id}
    </update>

    <delete id="deleteBoard" parameterType="Long">
        /*HomdMapper.deleteReview*/
        DELETE FROM new_board
        WHERE id = #{id}
    </delete>


<!-- 복습 -->
    <select id="lists" resultType="Map">
        SELECT
            row_number() over(order by id desc) as num
	         , id
             , title
             , content
             , system_registrar_id
             , system_updater_id
             , DATE_FORMAT(system_registrar_datetime, '%Y-%m-%d') AS system_registrar_datetime
             , DATE_FORMAT(system_update_datetime, '%Y-%m-%d') AS system_update_datetime
        FROM
            create_board
    </select>

    <select id="listss" resultType="com.march.studyjsp.home.HomeDTO">
        SELECT
            row_number() over(order by id desc) as num
	         , id
             , title
             , content
             , system_registrar_id
             , system_updater_id
             , DATE_FORMAT(system_registrar_datetime, '%Y-%m-%d') AS system_registrar_datetime
             , DATE_FORMAT(system_update_datetime, '%Y-%m-%d') AS system_update_datetime
        FROM
            create_board
    </select>

    <insert id="createBoard1" parameterType="com.march.studyjsp.home.HomeDTO">
        INSERT
        INTO create_board(title,
                          content,
                          system_registrar_id,
                          system_updater_id)
        VALUES ( #{title}
               , #{content}
               , #{systemRegistrarId}
               , #{systemUpdaterId})
    </insert>

    <update id="updateBoard1" parameterType="com.march.studyjsp.home.HomeDTO">
        UPDATE create_board
        SET title               =#{title}
          , system_registrar_id = #{systemRegistrarId}
        WHERE id = #{id}
    </update>

    <delete id="deleteBoard1" parameterType="Long">
        DELETE FROM create_board
        WHERE id = #{id}
    </delete>

    <!-- 복습2 -->
    <select id="list2" resultType="com.march.studyjsp.home.HomeDTO">
        SELECT
            row_number() over(order by id desc) as num
	         , id
             , title
             , content
             , system_registrar_id
             , system_updater_id
             , DATE_FORMAT(system_registrar_datetime, '%Y-%m-%d') AS system_registrar_datetime
             , DATE_FORMAT(system_update_datetime, '%Y-%m-%d') AS system_update_datetime
        FROM
            create_board
    </select>

    <insert id="insert2" parameterType="com.march.studyjsp.home.HomeDTO">
        INSERT
        INTO create_board(title,
                          content,
                          system_registrar_id,
                          system_updater_id)
        VALUES ( #{title}
               , #{content}
               , #{systemRegistrarId}
               , #{systemUpdaterId})
    </insert>

    <update id="update2" parameterType="com.march.studyjsp.home.HomeDTO">
        UPDATE create_board
        SET title               =#{title}
          , system_registrar_id = #{systemRegistrarId}
        WHERE id = #{id}
    </update>

    <delete id="delete2" parameterType="Long">
        DELETE FROM create_board
        WHERE id = #{id}
    </delete>

</mapper>