<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.march.studyjsp.home.HomeMapper">

    <select id="homeList" resultType="com.march.studyjsp.home.HomeDTO">
        SELECT
               row_number() over(order by id desc) as num
	         , id
             , title
             , content
             , system_registrar_id
             , system_updater_id
             , DATE_FORMAT(system_registrar_datetime, '%Y-%m-%d') AS system_registrar_datetime
             , DATE_FORMAT(system_update_datetime, '%Y-%m-%d') AS system_update_datetime
        FROM
            board_info
    </select>

</mapper>