<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.march.studyjsp.domain.board.BoardMapper">

<!--글 작성-->
    <insert id="boardInsert" parameterType="com.march.studyjsp.domain.board.BoardDTO">
        INSERT INTO board_info (	member_no,
                                    title,
                                    content,
                                    board_type_code,
                                    system_registrar_id,
                                    system_updater_id
                                    )
        VALUES (#{memberNo},
                #{title},
                #{content},
                'free',
                #{systemRegistrarId},
                #{systemUpdaterId}
                )
    </insert>

<!--&lt;!&ndash;title 확인&ndash;&gt;-->
<!--    <select id="titleCheck" parameterType="com.march.studyjsp.domain.board.BoardDTO" resultType="String">-->
<!--        select-->
<!--    </select>-->

<!--글 목록-->
    <select id="boardList" resultType="com.march.studyjsp.domain.board.BoardDTO">
        SELECT board_no,
               member_no,
               title,
               content,
               view_count,
               system_registrar_id,
               DATE_FORMAT(system_register_datetime, '%Y-%m-%d') AS system_register_datetime,
               system_updater_id,
               DATE_FORMAT(system_update_datetime, '%Y-%m-%d')    AS system_update_datetime
        FROM board_info
    </select>

<!--상세페이지-->
    <select id="boardDetail" resultType="com.march.studyjsp.domain.board.BoardDTO" parameterType="Long">
        SELECT board_no,
               member_no,
               title,
               content,
               view_count,
               system_registrar_id,
               DATE_FORMAT(system_register_datetime, '%Y-%m-%d') AS system_register_datetime,
               system_updater_id,
               DATE_FORMAT(system_update_datetime, '%Y-%m-%d')    AS system_update_datetime
        FROM board_info
        WHERE board_no = #{boardNo}
    </select>

<!--업데이트-->
    <update id="boardUpdate" parameterType="com.march.studyjsp.domain.board.BoardDTO">
        UPDATE board_info
        SET title = #{title}
          , content = #{content}
          , system_registrar_id = #{systemRegistrarId}
        WHERE board_no = #{boardNo}
    </update>

<!--삭제-->
    <delete id="boardDelete" parameterType="Long">
        DELETE FROM board_info
        WHERE board_no = #{boardNo}
    </delete>

<!--//글쓰기 페이지-->
    <!--//글 등록-->
   <!-- //글 목록-->
    <!--//상세페이지-->
    <!--//글 수정-->
   <!-- //글 삭제-->

</mapper>